@font-face {
  font-family: "iconfont"; /* Project id 4320131 */
  src: url('iconfont.woff2?t=1704715509051') format('woff2'),
       url('iconfont.woff?t=1704715509051') format('woff'),
       url('iconfont.ttf?t=1704715509051') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 36px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

